/*****************
General Formatting
******************/

* {
    box-sizing: border-box;
}

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

article,
aside {
    padding: .5rem;
}

#extracredit {
    width: 75%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}


/**************
Your Formatting
***************/

#mygrid{
    width:100%;
    grid-template-columns: 1fr;
}

header{
    height:75px;
    display: flex;
}

nav{
    height:30px;
    display: flex;
}

article{
    height:auto;
}

aside{
    height:auto;
}

footer{
    height:30px;
    display: flex;
}

@media screen and (min-width:450px){
    #mygrid{
        width:90%;
        max-width:1000px;
        min-height: 100vh;
        margin:auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;

    }
}
