body{
    font-family: 'Playfair Display', serif;
    letter-spacing: 1.5px;
    line-height: 4vh;
    font-size:3vh;
    margin:auto;
    background-color:#ffcf3f;
}

#face{
    margin: auto;
    top:0;
    position: fixed;
    max-height: 100vh;
    max-width: 50vw;
    min-height: 100vh;
    min-width: 75vh;
}

h1{
    font-size: 6vh;
    line-height: 6vh;
}

section{
    max-width:50vw;
    margin-left: 85vh;

    color:white;
}

a:link{
    color:white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

a:hover{
    color:#4b7700;
    text-decoration: underline;
    font-weight: 900;
}
