/*the same as page 1 except for images and svgs separated and positioned individually*/
body, html{
    background-color:black;
}

nav{
    display:flex;
    justify-content: center;
    padding: 10px;
}

a{
    text-decoration: none;
    font-family: 'Londrina Solid', sans-serif;
    font-size: 20px;
    color:gray;
    margin:15px;
}

p{
    color:white;
    font-family: 'Londrina Solid', sans-serif;
    font-size: 30px;
}

h1{
    color:white;
    font-family: 'Londrina Solid', sans-serif;
    font-size: 0px;
    visibility: hidden;
}

.directions{
    display: flex;
    justify-content: center;
}

#flexContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img{
    position:relative;
}




.monkeySvg{
    left:80px;
    top:-10px;
    z-index: 1;
    visibility: hidden;
}

.monkeyImg{
    left:-75px;
}




.catSvg{
    left:97px;
    top:-70px;
    z-index: 1;
    visibility: hidden;
}

.catImg{
    left:-78px;
}




.roosterSvg{
    left:65px;
    top:-80px;
    z-index: 1;
    visibility: hidden;
}

.roosterImg{
    left:-50px;
}




.pigSvg{
    left:170px;
    top:-28px;
    z-index: 1;
    visibility: hidden;
}

.pigImg{
    left:-50px;
}




.bearSvg{
    left:120px;
    top:-35px;
    z-index: 1;
    visibility: hidden;
}

.bearImg{
    left:-44px;
}


@media screen and (max-width:450px){
    img{
        visibility:hidden;
    }

    p{
        visibility: hidden;
    }

    h1{
        visibility: visible;
        font-size: 30px;
    }
}
