html, body {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    background-color:white;
    color:white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

.border{
    position:fixed;
    align-content: center;
    background-color:#ffbb00;
    top:8%;
    left:13%;
    bottom: 8%;
    right:13%;
    z-index: -10 !important;
}

nav{
    position: fixed;
    font-size:14px;
    font-weight: bold;
    padding-top: 3vh;
    margin-left: 1%;
}

nav a{
    text-decoration: none;
    color:darkorange;
    text-align: center;
    padding: 5px;
}

nav a: visited{
    color:darkorange;
    text-decoration: none;
}

nav a:focus, a:hover{
    color:mediumvioletred;
}

h3{
    text-align: center;
    font-size:30px;
    padding-top:20vh;
    margin-top:0;
}

.insideContact{
    margin:10vh;
    margin-bottom:20vh;
}

.email{
    height:50px;
    width:50px;
}

.cell{
    height:50px;
    width:50px;
}

.address{
    height:50px;
    width:50px;
}

.emailContent{
    font-weight: 500;
    text-align: center;
}

.cellContent{
    font-weight: 500;
    text-align: center;
}

.addressContent{
    font-weight: 500;
    text-align: center;
}

@media screen and (min-width:340px){
    nav{
        margin-left: 10%;
    }
}

@media screen and (min-width:430px){
    nav{
        margin-left: 15%;
    }
}

@media screen and (min-width:500px){
    nav{
        margin-left: 20%;
    }
}

@media screen and (min-width:600px){
   nav{
        margin-left: 25%;
    }
}

@media screen and (min-width:750px){
    nav{
        margin-left: 30%;
    }
}

@media screen and (min-width:900px){
    nav{
        margin-left: 35%;
    }
}

@media screen and (min-width:1250px){
    nav{
        margin-left: 38%;
    }
}

@media screen and (min-width:1400px){
    nav{
        margin-left: 40%;
    }
}
