/*helps to line things up*/
html, body {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden !important;
}

/*this is actually the border technically*/
body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

/*this is the yellow that creates an illusion of a border*/
.border {
    position: fixed;
    align-content: center;
    background-color: #ffbb00;
    top: 8%;
    left: 13%;
    bottom: 8%;
    right: 13%;
    z-index: -10 !important; /*makes sure it is behind everything*/
}

/*top nav*/
nav {
    position: fixed;
    font-size: 14px;
    font-weight: bold;
    padding-top: 3vh;
    margin-left: 17%;
}

nav a {
    text-decoration: none;
    color: darkorange;
    text-align: center;
    padding: 5px;
}

nav a: visited {
    color: darkorange;
    text-decoration: none;
}

nav a:focus, a:hover {
    color: mediumvioletred;
}


h2{
    text-align: center;
    font-size:15px;
    padding-top:0;
    margin-top:0;
}

/*I realize I skipped 3, but that is because I had a 3 but then deleted it. also I feel like the below part is kinda self explanatory. It is just styling all the different type for the resume*/

h4{
    font-weight: 500;
    font-size:20px;
}

h5{
    font-weight: normal;
    font-size:17px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.title{
    font-weight: 500;
    font-size:15px;
    font-style: italic;
}

.small{
    font-style: italic;
    font-size: 9px;
}

p{
    font-weight: 200;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.indent{
    padding-left: 8%;
}

.experience{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 15vh;
}

.skills{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh;
    margin-bottom: 15vh;
}

.education{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh;
}

/*styles the print button*/
.printPage{
    color:darkmagenta;
    font-size: 20px;
    margin-top: 10vh;
}

/*this part is the same in every page, like the nav*/
footer {
    color: lightpink;
    position: fixed;
    font-size: 10px;
    width: 100%;
    bottom: 0px;
    letter-spacing: 0px;
}

footer p {
    margin: 0;
}

.left {
    float: left;
    margin-left: 5vw;
    margin-bottom: 1vh;
}

.right {
    float: right;
    margin-right: 5vw;
    margin-bottom: 1vh;
}


@media screen and (min-width:500px){
    footer{
        font-size: 12px;
        letter-spacing: 1px;
    }

    .right {
        margin-right: 15vw;
        margin-bottom: 2vh;
    }

    .left {
        margin-left: 15vw;
        margin-bottom: 2vh;
    }
}

/* These queries are for just the menu */
@media screen and (min-width:340px){
    nav{
        margin-left: 20%;
    }
}

@media screen and (min-width:430px){
    nav{
        margin-left: 25%;
    }
}

@media screen and (min-width:480px){
    nav{
        margin-left: 30%;
    }
}

@media screen and (min-width:600px){
    nav{
        margin-left: 35%;
    }
}

@media screen and (min-width:850px){
    nav{
        margin-left: 40%;
    }
}

@media screen and (min-width:1200px){
    nav{
        margin-left: 42%;
    }
}

@media screen and (min-width:1500px){
    nav{
        margin-left: 45%;
    }
}
