body, html{
    background-color:black;
}

nav{
    display:flex;
    justify-content: center; /*to center nav*/
    padding: 10px; /*to give space from the top*/
}

a{
    /*set text of nav*/
    text-decoration: none;
    font-family: 'Londrina Solid', sans-serif;
    font-size: 20px;
    color:gray;
    margin:15px; /*to make space between items*/
}

p{
    color:white;
    font-family: 'Londrina Solid', sans-serif;
    font-size: 20px;
}

h2{
    color:white;
    font-family: 'Londrina Solid', sans-serif;
    font-size: 30px;
}

h1{
    color:white;
    font-family: 'Londrina Solid', sans-serif;
    font-size: 0px;
    visibility: hidden;
}

img{
    max-width:200px;
}

@media screen and (max-width:450px){
    img{
        visibility:hidden;
    }

    p{
        visibility: hidden;
    }

    h2{
        visibility: hidden;
    }

    h1{
        visibility: visible;
        font-size: 30px;
    }
}
